VITE_BASE_URL=http://localhost:3000

DATABASE_URL="postgresql://neondb_owner:***********@ep-jolly-cake-a1a1xvyf-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# You can also use Docker Compose to set up a local PostgreSQL database:
# docker-compose up -d

# pnpm run auth:secret
BETTER_AUTH_SECRET=ca0a96f5b623cfa5d4641c90b7dd6b4bebc2f4190e043294580ac337af057904

# OAuth2 providers, optional, update as needed
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NOTE:
# In your OAuth2 apps, set callback/redirect URIs to`http://localhost:3000/api/auth/callback/<provider>`
# e.g. http://localhost:3000/api/auth/callback/github
